.ingredients{
    display: flex;
    margin: 5vw
}
.infoCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ingList{
    display: flex;
    flex-wrap: wrap;
    
}