.ingredients{
    display: flex;
    height: fit-content;
    
    line-height: 1.4vh;
}
.ingredients h6{
    margin: .4vw;
    font-size: 2.4vh;
    
}

.instr{
    background-color: rgb(167, 146, 102);
}
.infoCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    font-size: 1.3em;
}
.ingList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
}
.vinfoCont{
    display: flex;
    flex-wrap: wrap;
    width: 32vw;
}
